*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
.all-content{
    background: #fff;
    background-color: #edd8ca;
}
html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: #b2744c;
    border-radius: 10px;
}
html :-webkit-scrollbar{
    width: 20px;
    height: 100%;
}
/* navbar start */
#navbar{
    background: #e6ae88;
}
#logo img{
    border-radius: 110px;
    margin-left: 40px;
    border-width: 10px;
}
.navbar-nav{
    margin-left: 50px;
}
.nav-item .nave-link{
    color: black;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;

}
.nav-item .nav-link:hover{
    background: #f2f2f2;
    border-radius: 5px;
    color: black;
}
#navbar form button{
    border: 1px solid rgb(216, 14, 14);
}
/* navbar end */




/* home section starts */
#home{
    width: 100%;
    height:90vh ;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(imgs/homepi.jpeg);
     background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
#home .content{
    padding-top: 21px;
    margin-left: 50px;
}
#home .content h1{
    font-size: 50px;
    color: white;
}
#home .content p{
    margin-top: 10px;
    color: whitesmoke;
}
#btn{
    width: 150px;
    height: 36px;
    background: #ece7e4;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn:hover{
    background-color: #b2744c;
    color: white;
}

/* home section ends */





/* about section starts */
#about{
    width: 100%;
    height: 250vh;
}
#about .container{
    padding-top: 70px;
}
.heading{
    text-align: center;
    margin-bottom: 50px;
    color: black;
    font-size: 30px;
    font-weight: bolder;
}
.heading span{
    color: #b2744c;
}
#about .card img{
    border-radius: 10px;
}
#about .card{
    border-radius: 10px;
}
#about-btn{
    width: 200px;
    height: 36px;
    background: transparent;
    border: 2px solid #e6ae88;
    color: bisque;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
#about-btn:hover{
    background-color: #b2744c;
    color: #fff;
}
@media screen and (max-width:982px) {
    #about p{
        font-size: 15px;
    }
}
@media screen and (max-width:766px) {
    #about p{
        font-size: 20px;
    }
}
/* about section ends */



/* top-card section starts */
#top-cards{
    width: 100%;
    /* height: 90vh; */
    background: #f2f2f2;
    padding-top: 30px;
}
.heading2{
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.heading2 span{
    color: #b2744c;
}
#top-cards .container{
    margin-top: 80px;
}
#top-cards .card{
    border-radius: 10px;
}
#top-cards .card img{
    border-radius: 10px;
}
#top-cards:hover{
    background-color: #d0a485;
    background-size: cover;
}
#top-cards .card:hover{
    transform: translate(10px);
}
/* top-card section starts */



/* menu section starts */
.checked{
 color: rgb(249, 164, 6);
}
#menu{
    width: 100%;
    margin-top: 60px;
}
.heading3{
    text-align: center;
    font-size: 30px;
    color: #e6ae88;
    font-weight: bold;
    border-bottom: 2px solid #d0a485;
}
.containers{
    font-size: 20px;
    color: bisque;
    padding-top: 10px;
}
#menu h3{
    box-shadow: rgba(147,157, 167,0.9) 0px 8px 25px;
    text-align: center;
    color: #b2744c;
    margin-top: 10px;
    font-size: 20px;
}
#menu .card{
    box-shadow: rgba(147,157, 167,0.9) 0px 8px 25px;
}
#menu p{
    font-size: 10px;
    color: #d0a485;
    padding-top: 10px;
}
#menu p i{

    color: #f16508;
}

/* menu section ends */
